In [25]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_excel('flight_price.xlsx')

In [3]:
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

* *Basic info about the dataset*

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

*  **EDA & feature enginerring**

In [6]:
df.columns = df.columns.str.lower()

* * *cleaning date of journey column*

In [7]:
df['date']= df['date_of_journey'].str.split('/').str[0]
df['date']= df['date'].astype(int)
df['month']= df['date_of_journey'].str.split('/').str[1]
df['month']= df['month'].astype(int)
df['year']= df['date_of_journey'].str.split('/').str[2]
df['year']= df['year'].astype(int)

* * *droping date of journey column*

In [8]:
df.drop('date_of_journey',axis=1,inplace=True)

* * *cleaning arival time column*

In [9]:
df['arrival_hour']= df['arrival_time'].str.split(':').str[0]
df['arrival_hour'] = df['arrival_hour'].astype(int)

In [10]:
df['arrival_minute']= df['arrival_time'].str.split(':').str[1].str.split(' ').str[0]
df['arrival_minute']= df['arrival_minute'].astype(int)

* * *droping arrival time column*

In [11]:
df.drop('arrival_time', axis=1, inplace=True)

* * *cleaning departure time column*

In [12]:
df['departure_hour']= df['dep_time'].str.split(':').str[0]
df['departure_hour'] = df['departure_hour'].astype(int)
df['departure_minute']= df['dep_time'].str.split(':').str[0]
df['departure_minute'] = df['departure_minute'].astype(int)

* * *droping deparure time column*

In [13]:
df.drop('dep_time', axis=1, inplace=True)

* * *cleaning total stops column*

In [14]:
df['total_stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [15]:
df['total_stops']= df['total_stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, '4 stops':4,np.nan:1})

* * *dropping route column*

In [16]:
df.drop('route',axis=1,inplace=True)

* * *cleaning duration column*

In [17]:
df['duration_hour']= [i if 'h' in i else 0 for i in df['duration'].str.split(' ').str[0]]
df['duration_hour']= df['duration_hour'].str.split('h').str[0]
df['duration_hour'].fillna(0,inplace=True)
df['duration_hour']= df['duration_hour'].astype(int)

In [18]:
df['duration_minute']= [i if 'm' in i else 0 for i in df['duration'].str.split(' ').str[-1]]
df['duration_minute']= df['duration_minute'].str.split('m').str[0]
df['duration_minute'].fillna(0,inplace=True)
df['duration_minute']= df['duration_hour'].astype(int)

* * *droping duration column*

In [21]:
df.drop('duration',  axis=1, inplace=True)

* * **working with categorical data**

In [22]:
df['airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [23]:
df['source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [24]:
df['additional_info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [26]:
encode = OneHotEncoder()

In [31]:
new_frame= pd.DataFrame(encode.fit_transform(df[['airline','source','destination']]).toarray(),columns=encode.get_feature_names_out())

In [33]:
new_frame

,airline_Air Asia,airline_Air India,airline_GoAir,airline_IndiGo,airline_Jet Airways,airline_Jet Airways Business,airline_Multiple carriers,airline_Multiple carriers Premium economy,airline_SpiceJet,airline_Trujet,...,source_Chennai,source_Delhi,source_Kolkata,source_Mumbai,destination_Banglore,destination_Cochin,destination_Delhi,destination_Hyderabad,destination_Kolkata,destination_New Delhi
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [34]:
df.drop(['airline','source','destination'], axis=1, inplace=True)

In [37]:
final_frame = pd.merge(new_frame,df,left_index=True, right_index=True)

In [38]:
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   airline_Air Asia                           10683 non-null  float64
 1   airline_Air India                          10683 non-null  float64
 2   airline_GoAir                              10683 non-null  float64
 3   airline_IndiGo                             10683 non-null  float64
 4   airline_Jet Airways                        10683 non-null  float64
 5   airline_Jet Airways Business               10683 non-null  float64
 6   airline_Multiple carriers                  10683 non-null  float64
 7   airline_Multiple carriers Premium economy  10683 non-null  float64
 8   airline_SpiceJet                           10683 non-null  float64
 9   airline_Trujet                             10683 non-null  float64
 10  airline_Vistara                            10683 non-null  float64
 11  airline_Vistara Premium economy            10683 non-null  float64
 12  source_Banglore                            10683 non-null  float64
 13  source_Chennai                             10683 non-null  float64
 14  source_Delhi                               10683 non-null  float64
 15  source_Kolkata                             10683 non-null  float64
 16  source_Mumbai                              10683 non-null  float64
 17  destination_Banglore                       10683 non-null  float64
 18  destination_Cochin                         10683 non-null  float64
 19  destination_Delhi                          10683 non-null  float64
 20  destination_Hyderabad                      10683 non-null  float64
 21  destination_Kolkata                        10683 non-null  float64
 22  destination_New Delhi                      10683 non-null  float64
 23  total_stops                                10683 non-null  int64
 24  additional_info                            10683 non-null  object
 25  price                                      10683 non-null  int64
 26  date                                       10683 non-null  int32
 27  month                                      10683 non-null  int32
 28  year                                       10683 non-null  int32
 29  arrival_hour                               10683 non-null  int32
 30  arrival_minute                             10683 non-null  int32
 31  departure_hour                             10683 non-null  int32
 32  departure_minute                           10683 non-null  int32
 33  duration_hour                              10683 non-null  int32
 34  duration_minute                            10683 non-null  int32
dtypes: float64(23), int32(9), int64(2), object(1)
memory usage: 2.5+ MB